<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name="Connection" connectionString="DATA SOURCE=192.168.8.173/BGNSY;PASSWORD=GANADERO;USER ID=GANADERO;Enlist=false;Pooling=false" />-->
    <!--<add name="Connection" connectionString="DATA SOURCE=172.16.1.60/BGDB;PASSWORD=123abc;USER ID=GANANET;Enlist=false;Pooling=false" />-->
    <!--<add name="Connection" connectionString="DATA SOURCE=192.168.8.173/BGNSY;PASSWORD=GANADERO;USER ID=GANADERO;Enlist=false;Pooling=false" />-->
    <add name="Connection" connectionString="DATA SOURCE=172.16.1.60/BGDB;PASSWORD=!7Kcht2!;USER ID=GANADERO;Enlist=false;Pooling=false" />
  </connectionStrings>
  <appSettings>
    <!--<add key="PathDirectory" value="/home/sftp-auth/ATM_LOG/LOG_ATM" />-->
    <add key="PathDirectory" value="/oprbg/topaz/ganadero/LOG_ATM" />
    <add key="PathAtmLogs" value="/ATM_" />
    <!--<add key="SFTPIp" value="172.16.1.100" />
	    <add key="SFTPPort" value="2244" />
	    <add key="SFTPUser" value="usuario.rpa" />
	    <add key="SFTPPasswrod" value="BaMdQmJf4m" />-->

    <add key="SFTPIp" value="172.16.1.211" />
    <add key="SFTPPort" value="22" />
    <add key="SFTPUser" value="bgtopaz" />
    <add key="SFTPPasswrod" value="T3st1ng" />

    <add key="DateStart" value="10/02/2021" />
    <add key="ScheduleExec" value="11:53:00" />
    <add key="PathLog" value="E:\LogErrores\ConciliacionATM" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>